<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">

  <body>
    <header th:fragment="header" class="tummo-header">
        <div class="tummo-row">
          <div class="tummo-col">          
              <div class="product-copyright">
                <img class="img-top" src="/templates/assets/icons/menu4.svg">
                <div class="product-by">Dashboard</div>            
              </div>           
          </div>
          <div class="tummo-col">
            <ul class="menu-right">
                <li>Bài viết, sự kiện</li>
            </ul>
          </div>
        </div>  
      </header>
    
 
  </body>
 
</html>